<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SportBar_0.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SportBar_0.Settings1>
            <setting name="chkSet1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet1" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet2" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet3" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet4" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet5" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet6" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet7" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet8" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet9" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet10" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet11" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet12" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet13" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSet14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet14" serializeAs="String">
                <value />
            </setting>
            <setting name="calsSet1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calsSet14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="yearcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yearInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="daycheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dayInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="monthcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monthInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkSet15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clockSet15" serializeAs="String">
                <value />
            </setting>
            <setting name="calsSet15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noteSet" serializeAs="String">
                <value />
            </setting>
            <setting name="price1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="price2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="price3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="price4" serializeAs="String">
                <value>0</value>
            </setting>
        </SportBar_0.Settings1>
    </userSettings>
</configuration>